.closet {
  border: 2px solid black;
  padding: 15px;
  background-color: beige;
}

.closet__shoes {
  margin-top: 10px;
  background-color: rgb(164, 164, 164);
}

.closet__shoes--item {
  font-weight: bold;
  color: darkblue;
}